* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #d3c5e8;
  color: white;
}
.container-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.container-body h1 {
  margin-bottom: 80px;
  color: #674785;
}
.conteudo {
  background: #b596e5;
  box-shadow: 6px 6px 20px gray, -6px -6px 20px white;
  border-radius: 5px;
  max-width: 760px;
  width: 100%;
  padding: 6em;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: space-between;
  height: 270px;
}
.conteudo a {
  cursor: pointer;
  padding: 10px 10px;
  background: linear-gradient(90deg, rgb(197, 80, 243)0%, rgb(173, 84, 232)100%);
  border-radius: 4px;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 14px;
}
input[type=submit] {
  background-color: #692000;
  border: none;
  color: white;
  padding: 6px 22px;
  text-decoration: none;
  margin: 10px 2px;
  cursor: pointer;
}
@media screen and (max-width: 767px) {
  .conteudo {
    max-width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .imc {
    padding-top: 65px;
  }
}
@media screen and (max-width: 418px) {
  .conteudo {
    padding: 0;
  }
}

/* IMC */
.container-imc{
  background-color: cornsilk;
  text-align: center;
  padding: 60px;
  color: #692000;
  line-height: 32px;
  border-radius: 5px;
}
.imc-page {
  background: url("imgs.png");
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

table {
  width: 500px;
  margin: 30px auto;
}

td,
th {
  padding: 16px 24px;
  text-align: left;
}

th {
  background-color: #692000;
  width: 25%;
  color: #fff;
}

tbody tr:nth-child(odd) {
  background-color: #f8f9fa;
}

tbody tr:nth-child(even) {
  background-color: #e9ecef;
}
a.voltar {
  color: #692000;
  text-decoration: none;
  font-size: 15px;
}
@media screen and (max-width: 575px) {
  .container-imc { padding: 20px; }
  table {
    width: 400px;
  }
}  

/* NOTAS */
.notas-page {
  background: url(notes.jpeg);
  background-size: 35%;
}
.container-notas{
  background-color: #fdf7d3;
  text-align: center;
  padding: 60px;
  color: #eb087b;
  line-height: 32px;
  border-radius: 10px;
}
a.voltar-notas { color: #eb087b; }